.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.formDigital {
    min-width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.formDigital input, .fingersList {
    padding: 1em;
}

.contactFields input, .fingersList, .pageTitle {
    margin-top: 1em;
}

.email {
    margin-right: 0.5em;
}

.modalFingers {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.modalFingers .insert, .fingersList {
    width: 100%;
}

.button {
    padding: 1em;
    border: none;
    background-color: #895aa1;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.submitButton {
    width: 10em;
    flex-grow: 1;
    max-width: 40%;
}

.error {
    font-size: 0.8em;
    color: #ce3030;
    text-align: center;
}

.title {
    color: #895aa1;
}

.fingerPosition {
    white-space: pre-wrap;
}

.deleteModal {
    padding: 1em;
    white-space: pre-wrap;
}

.logout .button, .deleteModal .button {
    margin: 0 1em;
}