.actions {
    flex-direction: row;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
}

.actions a {
    cursor: pointer;
    margin: 0 1em;
}

.linkButton {
    background: none;
    border: none;
    cursor: pointer;
}

.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1em;
}
