.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.formLogin {
    min-width: 20%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c9a9da;
}

.formLogin input {
    flex: 1;
    width: 100%;
    padding: 1em;
    margin: 0.8em;
}

.formLogin button {
    width: 100%;
    min-width: 60%;
    padding: 1em;
    margin-top: 1em;
    max-width: 40%;
    border: none;
    background-color: #895aa1;
    color: white;
    cursor: pointer;
}

.error {
    width: 100%;
    font-size: 0.8em;
    color: #ce3030;
    text-align: center;
}

.title {
    color: #895aa1;
}

.subtitle {
    color: #a5a5a5;
}

.formDigital {
    min-width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.formDigital input, .fingersList {
    padding: 1em;
}

.contactFields input, .fingersList, .pageTitle {
    margin-top: 1em;
}

.email {
    margin-right: 0.5em;
}

.modalFingers {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.modalFingers .insert, .fingersList {
    width: 100%;
}

.button {
    padding: 1em;
    border: none;
    background-color: #895aa1;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.submitButton {
    width: 10em;
    flex-grow: 1;
    max-width: 40%;
}

.error {
    font-size: 0.8em;
    color: #ce3030;
    text-align: center;
}

.title {
    color: #895aa1;
}

.fingerPosition, .responseMessage {
    white-space: pre-wrap;
}

.deleteModal {
    padding: 1em;
    white-space: pre-wrap;
}

.logout .button, .deleteModal .button {
    margin: 0 1em;
}

.actions {
    flex-direction: row;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
}

.actions a {
    cursor: pointer;
    margin: 0 1em;
}

.linkButton {
    background: none;
    border: none;
    cursor: pointer;
}

.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.filterContainer {
    display: flex;
    width: 100%;
    border: 1px solid #e3e2e4;
    padding: 1em 0;
    justify-content: center;
}

.filterContainer input, .filterContainer label {
    padding: 0.5em;
}
