.header {
  background-color: #895aa1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em 0 2em;
  height: 4rem;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-flow: row wrap;
}

.list li {
  padding: 0 0.5em 0 0.5em;
  font-size: 0.8em;
}

.link {
  cursor: pointer;
}

.separator {
  color: rgb(80, 80, 80);
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

.logout {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

.logout .button {
  margin: 0 1em;
}

.popup-content {
  width: 40vw;
}